<%- include('../partials/header', {title : 'Home'}) %>
<body>
    <div class="container p-3">
        <h1 class="text-center">Welcome to Discord Profile Bot!</h1>
        <h2 class="text-center">Please login using the link below.</h2>
        <div class="col-md-12 text-center p-3">
            <button type="button" class="btn btn-secondary">Login with <i class="bi bi-discord"></i></button>
        </div>
    </div>
</body>